WebSite/bExcellent.mvc/Service References/FeedbackWCF/FeedbackService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8052/FeedbackService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="NewFeedbackRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="FeedbackFor" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FeedbackRole" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="FeedbackType" type="xs:int" />
      <xs:element minOccurs="0" name="IsGiveRequest" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Members" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="PoeId" type="xs:int" />
      <xs:element minOccurs="0" name="Subscriptionid" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewFeedbackRequest" nillable="true" type="tns:NewFeedbackRequest" />
  <xs:complexType name="ArrayOfUserSurvey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserSurvey" nillable="true" type="tns:UserSurvey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserSurvey" nillable="true" type="tns:ArrayOfUserSurvey" />
  <xs:complexType name="UserSurvey">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSubQuestion" type="xs:boolean" />
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="SubQuestionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSurvey" nillable="true" type="tns:UserSurvey" />
</xs:schema>