WebSite/bExcellent.mvc/Service References/FeedbackWCF/FeedbackService84.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.93:125/FeedbackService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" />
  <xs:import schemaLocation="http://192.168.1.93:125/FeedbackService.svc?xsd=xsd4" />
  <xs:import schemaLocation="http://192.168.1.93:125/FeedbackService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Request" />
  <xs:import schemaLocation="http://192.168.1.93:125/FeedbackService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" />
  <xs:element name="GetUserdetailsByMappingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mappingid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserdetailsByMappingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetUserdetailsByMappingIdResult" nillable="true" type="q1:UserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackGivenCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackGivenCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFeedbackGivenCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGivenAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedbackId" type="xs:int" />
        <xs:element minOccurs="0" name="questionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGivenAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGivenAnswerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackReceivedCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackReceivedCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFeedbackReceivedCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOEIntro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOEIntroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPOEIntroResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleIntro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="moduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleIntroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetModuleIntroResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOEKeyAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOEKeyActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPOEKeyActionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleKeyAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="moduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleKeyActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetModuleKeyActionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetPracticeAreaResult" nillable="true" type="q2:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetQuestionsResult" nillable="true" type="q3:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQuestionCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetFeedbackHistoryResult" nillable="true" type="q4:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingFeedbacks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutstandingFeedbacksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetOutstandingFeedbacksResult" nillable="true" type="q5:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackGiven">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackGivenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetFeedbackGivenResult" nillable="true" type="q6:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackRecevied">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackReceviedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetFeedbackReceviedResult" nillable="true" type="q7:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePOEResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="ArrayOfSavePOEResultRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePOEResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePOEResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Request" minOccurs="0" name="request" nillable="true" type="q8:NewFeedbackRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="CreateFeedbackResult" nillable="true" type="q9:ArrayOfCreatedFeedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFeedbackStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="SavePOEResultRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFeedbackStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFeedbackStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSavedQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedbackId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastSavedQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="GetLastSavedQuestionResult" nillable="true" type="q10:SavedQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="feedbackId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFeedbackResultsResult" nillable="true" type="ArrayOfSavePOEResultRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbacksByGroupId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbacksByGroupIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="GetFeedbacksByGroupIdResult" nillable="true" type="q11:ArrayOfCreatedFeedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>