WebSite/bExcellent.mvc/Service References/AuthenticationWCF/Authentication57.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.98:8089/Authentication.svc?xsd=xsd3" />
  <xs:complexType name="AuthenticationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFirstTimeLogin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPasswordExpired" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currentUser" nillable="true" type="User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationResult" nillable="true" type="tns:AuthenticationResult" />
</xs:schema>