WebSite/bExcellent.mvc/Service References/AuthenticationWCF/Authentication11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Authentication" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.98:8089/Authentication.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.98:8089/Authentication.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.98:8089/Authentication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" />
      <xsd:import schemaLocation="http://192.168.1.98:8089/Authentication.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://192.168.1.98:8089/Authentication.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Authentication_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="Authentication_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="Authentication_AuthenticateUserWithUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserWithUserName" />
  </wsdl:message>
  <wsdl:message name="Authentication_AuthenticateUserWithUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserWithUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="Authentication_UpdateUserLastLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserLastLogin" />
  </wsdl:message>
  <wsdl:message name="Authentication_UpdateUserLastLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserLastLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="Authentication">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/Authentication/AuthenticateUser" message="tns:Authentication_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Authentication/AuthenticateUserResponse" message="tns:Authentication_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUserWithUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/Authentication/AuthenticateUserWithUserName" message="tns:Authentication_AuthenticateUserWithUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Authentication/AuthenticateUserWithUserNameResponse" message="tns:Authentication_AuthenticateUserWithUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLastLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/Authentication/UpdateUserLastLogin" message="tns:Authentication_UpdateUserLastLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Authentication/UpdateUserLastLoginResponse" message="tns:Authentication_UpdateUserLastLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Authentication" type="tns:Authentication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/Authentication/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUserWithUserName">
      <soap:operation soapAction="http://tempuri.org/Authentication/AuthenticateUserWithUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLastLogin">
      <soap:operation soapAction="http://tempuri.org/Authentication/UpdateUserLastLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authentication">
    <wsdl:port name="BasicHttpBinding_Authentication" binding="tns:BasicHttpBinding_Authentication">
      <soap:address location="http://192.168.1.98:8089/Authentication.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>