WebSite/bExcellent.mvc/Service References/SignUpWCF/Signup10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8052/Signup.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" />
  <xs:import schemaLocation="http://localhost:8052/Signup.svc?xsd=xsd5" />
  <xs:complexType name="SignupRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="Members" nillable="true" type="q1:ArrayOfUserPOEMapping" />
      <xs:element minOccurs="0" name="Mode" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="Netwrok" nillable="true" type="q2:Network" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="Payment" nillable="true" type="q3:Payment" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="Poes" nillable="true" type="q4:ArrayOfPOE" />
      <xs:element minOccurs="0" name="User" nillable="true" type="User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignupRequest" nillable="true" type="tns:SignupRequest" />
</xs:schema>