WebSite/bExcellent.mvc/Service References/SignUpSvc/Signup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Signup" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:125/Signup.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:125/Signup.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:125/Signup.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Request" />
      <xsd:import schemaLocation="http://localhost:125/Signup.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Signup_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="Signup_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="Signup_CheckEmailId_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmailId" />
  </wsdl:message>
  <wsdl:message name="Signup_CheckEmailId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckEmailIdResponse" />
  </wsdl:message>
  <wsdl:portType name="Signup">
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/Signup/SignUp" message="tns:Signup_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Signup/SignUpResponse" message="tns:Signup_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckEmailId">
      <wsdl:input wsaw:Action="http://tempuri.org/Signup/CheckEmailId" message="tns:Signup_CheckEmailId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Signup/CheckEmailIdResponse" message="tns:Signup_CheckEmailId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Signup" type="tns:Signup">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/Signup/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmailId">
      <soap:operation soapAction="http://tempuri.org/Signup/CheckEmailId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Signup">
    <wsdl:port name="BasicHttpBinding_Signup" binding="tns:BasicHttpBinding_Signup">
      <soap:address location="http://localhost:125/Signup.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>