SendYammerMessages/Service References/CommonService/Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bExcellent.Service.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfV3_GetMyActivitiesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V3_GetMyActivitiesResult" nillable="true" type="tns:V3_GetMyActivitiesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV3_GetMyActivitiesResult" nillable="true" type="tns:ArrayOfV3_GetMyActivitiesResult" />
  <xs:complexType name="V3_GetMyActivitiesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SubID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="batchId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V3_GetMyActivitiesResult" nillable="true" type="tns:V3_GetMyActivitiesResult" />
  <xs:complexType name="ArrayOfV3_GetUserListByBatchIdResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V3_GetUserListByBatchIdResult" nillable="true" type="tns:V3_GetUserListByBatchIdResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV3_GetUserListByBatchIdResult" nillable="true" type="tns:ArrayOfV3_GetUserListByBatchIdResult" />
  <xs:complexType name="V3_GetUserListByBatchIdResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="For" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V3_GetUserListByBatchIdResult" nillable="true" type="tns:V3_GetUserListByBatchIdResult" />
</xs:schema>