SendYammerMessages/Service References/CommonService/Common3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8055/Common.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" />
  <xs:import schemaLocation="http://localhost:8055/Common.svc?xsd=xsd4" />
  <xs:import schemaLocation="http://localhost:8055/Common.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.DataAccess" />
  <xs:import schemaLocation="http://localhost:8055/Common.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" />
  <xs:element name="GetPoEsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoEsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetPoEsByUserIdResult" nillable="true" type="q1:ArrayOfMinimizedPOE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMySubscribedPoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMySubscribedPoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMySubscribedPoesResult" nillable="true" type="q2:ArrayOfMinimizedPOE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMySubscribedPoeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="subId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMySubscribedPoeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMySubscribedPoeListResult" nillable="true" type="q3:ArrayOfMinimizedPOE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMappingDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMappingDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetUserMappingDetailsResult" nillable="true" type="q4:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetAccountDetailResult" nillable="true" type="q5:ArrayOfAccounts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoeContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoeContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetPoeContentResult" nillable="true" type="q6:PoeModules" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserRoleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyTeammembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyTeammembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyTeammembersResult" nillable="true" type="q7:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyGiveFbTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyGiveFbTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyGiveFbTeamResult" nillable="true" type="q8:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyGiveFbTeamList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyGiveFbTeamListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyGiveFbTeamListResult" nillable="true" type="q9:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReceiveFbTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReceiveFbTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyReceiveFbTeamResult" nillable="true" type="q10:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReceiveFbTeamList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReceiveFbTeamListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyReceiveFbTeamListResult" nillable="true" type="q11:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyManagerResult" nillable="true" type="q12:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyCustomersResult" nillable="true" type="q13:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyPeers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyPeersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyPeersResult" nillable="true" type="q14:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFullNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyFullNetworkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyFullNetworkResult" nillable="true" type="q15:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetworksUsersWall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="POEId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetworksUsersWallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetNetworksUsersWallResult" nillable="true" type="q16:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyNetworkCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyNetworkCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMyNetworkCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsByEmailId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsByEmailIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserDetailsByEmailIdResult" nillable="true" type="User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyDetailResult" nillable="true" type="q17:UserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyDetailWithArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyDetailWithAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyDetailWithAreaResult" nillable="true" type="q18:UserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCounties">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetAllCountiesResult" nillable="true" type="q19:ArrayOfCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArea">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetAllAreaResult" nillable="true" type="q20:ArrayOfZone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserPhotoResult" nillable="true" type="User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="photo" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserPhotoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="areaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEmailId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEmailIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckEmailIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePageMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePageModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPoeNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordForUSer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordForUSerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPasswordForUSerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckMappingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSubscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetUserSubscriptionsResult" nillable="true" type="q21:ArrayOfNetwork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMySubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMySubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMySubscriptionResult" nillable="true" type="q22:ArrayOfNetwork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionId" type="xs:int" />
        <xs:element minOccurs="0" name="sourceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/bExcellent.Service.DataAccess" minOccurs="0" name="GetMyActivitiesResult" nillable="true" type="q23:ArrayOfV3_GetMyActivitiesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/bExcellent.Service.DataAccess" minOccurs="0" name="GetUserListResult" nillable="true" type="q24:ArrayOfV3_GetUserListByBatchIdResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultUserSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultUserSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetDefaultUserSubscriptionResult" nillable="true" type="q25:Network" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnNetworkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetOwnNetworkResult" nillable="true" type="q26:Network" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
        <xs:element minOccurs="0" name="level" type="xs:int" />
        <xs:element minOccurs="0" name="deleteId" type="xs:int" />
        <xs:element minOccurs="0" name="deletepeer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="toids" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
        <xs:element minOccurs="0" name="sourceid" type="xs:int" />
        <xs:element minOccurs="0" name="activity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateActivityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendConnectMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="toids" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendConnectMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendConnectMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailFromWall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="fromname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasAttachment" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailFromWallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailFromWallResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyUsersResult" nillable="true" type="q27:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="subscriptionid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyAllUsersResult" nillable="true" type="q28:ArrayOfUserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStanding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="tileclicked" type="xs:int" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="GetStandingResult" nillable="true" type="q29:Standing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandingTileScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandingTileScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="GetStandingTileScoreResult" nillable="true" type="q30:Standing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetUserRolesResult" nillable="true" type="q31:ArrayOfUserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPoeByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
        <xs:element minOccurs="0" name="role" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPoeByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetUserPoeByRoleResult" nillable="true" type="q32:ArrayOfPOE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPoeByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPoeByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetUserPoeByTypeResult" nillable="true" type="q33:ArrayOfPOE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="goals" nillable="true" type="GoalShare" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGoalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveGoalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGoals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="goalShares" nillable="true" type="ArrayOfGoalShare" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGoalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveGoalsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPoe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assignpoe" nillable="true" type="ArrayOfAssignPoe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignPoeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignPoeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyGoals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeId" type="xs:int" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyGoalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetMyGoalsResult" nillable="true" type="q34:ArrayOfModulesGoal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserdetailsByMappingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mappingid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserdetailsByMappingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetUserdetailsByMappingIdResult" nillable="true" type="q35:UserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsByFbId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fbId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsByFbIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetUserDetailsByFbIdResult" nillable="true" type="q36:UserPOEMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbacksByGroupId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbacksByGroupIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="GetFeedbacksByGroupIdResult" nillable="true" type="q37:ArrayOfCreatedFeedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscribedUserWall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="subId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscribedUserWallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSubscribedUserWallResult" nillable="true" type="ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
        <xs:element minOccurs="0" name="usermapping" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="GetSyncScoresResult" nillable="true" type="q38:SyncScoreCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncScoresOverall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
        <xs:element minOccurs="0" name="usermapping" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncScoresOverallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="GetSyncScoresOverallResult" nillable="true" type="q39:SyncScoreCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvgSyncScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvgSyncScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="GetAvgSyncScoresResult" nillable="true" type="q40:SyncScoreCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncScoresByFbId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
        <xs:element minOccurs="0" name="usermapping" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="fbid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncScoresByFbIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="GetSyncScoresByFbIdResult" nillable="true" type="q41:SyncScoreCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncTeamScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="groupid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mappingid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncTeamScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="GetSyncTeamScoreResult" nillable="true" type="q42:SyncScoreCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvgSyncScoresByFbId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="fbids" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvgSyncScoresByFbIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="GetAvgSyncScoresByFbIdResult" nillable="true" type="q43:SyncScoreCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncWcsiDiff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
        <xs:element minOccurs="0" name="subid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSyncWcsiDiffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Response" minOccurs="0" name="GetSyncWcsiDiffResult" nillable="true" type="q44:SyncWcsiDiff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="planId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetPlanByIdResult" nillable="true" type="q45:Plan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPoePdfNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailContents" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPoePdfNotificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateManagerReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateManagerReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GenerateManagerReportResult" nillable="true" type="q46:ArrayOfManagerReports" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTeamReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTeamReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GenerateTeamReportResult" nillable="true" type="q47:ArrayOfTeamReports" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertYammerContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tomailid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="frmMailid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageurl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yammertoken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertYammerContentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYammerTopContent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYammerTopContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="GetYammerTopContentResult" nillable="true" type="q48:ArrayOfYammerContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateYammercontent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateYammercontentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>