CheckSite/Service References/Common/Common77.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bExcellent.Service.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfV3_GetMyActivitiesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V3_GetMyActivitiesResult" nillable="true" type="tns:V3_GetMyActivitiesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV3_GetMyActivitiesResult" nillable="true" type="tns:ArrayOfV3_GetMyActivitiesResult" />
  <xs:complexType name="V3_GetMyActivitiesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SubID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="batchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="poeid" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V3_GetMyActivitiesResult" nillable="true" type="tns:V3_GetMyActivitiesResult" />
  <xs:complexType name="ArrayOfV3_GetUserListByBatchIdResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V3_GetUserListByBatchIdResult" nillable="true" type="tns:V3_GetUserListByBatchIdResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV3_GetUserListByBatchIdResult" nillable="true" type="tns:ArrayOfV3_GetUserListByBatchIdResult" />
  <xs:complexType name="V3_GetUserListByBatchIdResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="For" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V3_GetUserListByBatchIdResult" nillable="true" type="tns:V3_GetUserListByBatchIdResult" />
  <xs:complexType name="ArrayOfV3_GetStandingAvgWCSIScoreResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V3_GetStandingAvgWCSIScoreResult" nillable="true" type="tns:V3_GetStandingAvgWCSIScoreResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV3_GetStandingAvgWCSIScoreResult" nillable="true" type="tns:ArrayOfV3_GetStandingAvgWCSIScoreResult" />
  <xs:complexType name="V3_GetStandingAvgWCSIScoreResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildIndex1Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChildIndex2Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ci1" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ci2" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="wcsi" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V3_GetStandingAvgWCSIScoreResult" nillable="true" type="tns:V3_GetStandingAvgWCSIScoreResult" />
  <xs:complexType name="ArrayOfv4_GetMentorConnectHistoryResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="v4_GetMentorConnectHistoryResult" nillable="true" type="tns:v4_GetMentorConnectHistoryResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfv4_GetMentorConnectHistoryResult" nillable="true" type="tns:ArrayOfv4_GetMentorConnectHistoryResult" />
  <xs:complexType name="v4_GetMentorConnectHistoryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Activity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivityID" type="xs:int" />
      <xs:element minOccurs="0" name="ActivityType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="For" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Poeid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SelfActivity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SubId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Viewed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="batchId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="v4_GetMentorConnectHistoryResult" nillable="true" type="tns:v4_GetMentorConnectHistoryResult" />
  <xs:complexType name="ArrayOfv4_GetGoalssharedbyuserResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="v4_GetGoalssharedbyuserResult" nillable="true" type="tns:v4_GetGoalssharedbyuserResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfv4_GetGoalssharedbyuserResult" nillable="true" type="tns:ArrayOfv4_GetGoalssharedbyuserResult" />
  <xs:complexType name="v4_GetGoalssharedbyuserResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GoalDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poeid" type="xs:int" />
      <xs:element minOccurs="0" name="Questionid" type="xs:int" />
      <xs:element minOccurs="0" name="ShortQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="v4_GetGoalssharedbyuserResult" nillable="true" type="tns:v4_GetGoalssharedbyuserResult" />
</xs:schema>