CheckSite/Service References/Common/Common7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPPAResults">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PPAResults" nillable="true" type="tns:PPAResults" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPPAResults" nillable="true" type="tns:ArrayOfPPAResults" />
  <xs:complexType name="PPAResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" type="xs:int" />
      <xs:element minOccurs="0" name="AnswerText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PPAResults" nillable="true" type="tns:PPAResults" />
</xs:schema>