WebSite/bExcellent.mvc/Service References/CommonWCF/Common9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8052/Common.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="Area" nillable="true" type="q1:Zone" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanySize" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Domain" minOccurs="0" name="Country" nillable="true" type="q2:Country" />
      <xs:element minOccurs="0" name="DesignationId" type="xs:int" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAgreed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastLogin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="StratPageMode" type="xs:int" />
      <xs:element minOccurs="0" name="Subscriptionid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="YammerToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="ArrayOfUser" />
  <xs:complexType name="GoalShare">
    <xs:sequence>
      <xs:element minOccurs="0" name="GoalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PoeId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedValue" type="xs:int" />
      <xs:element minOccurs="0" name="SharedWithId" type="xs:int" />
      <xs:element minOccurs="0" name="SubId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoalShare" nillable="true" type="GoalShare" />
  <xs:complexType name="ArrayOfGoalShare">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoalShare" nillable="true" type="GoalShare" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoalShare" nillable="true" type="ArrayOfGoalShare" />
  <xs:complexType name="ArrayOfAssignPoe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssignPoe" nillable="true" type="AssignPoe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssignPoe" nillable="true" type="ArrayOfAssignPoe" />
  <xs:complexType name="AssignPoe">
    <xs:sequence>
      <xs:element minOccurs="0" name="DesignationId" type="xs:int" />
      <xs:element minOccurs="0" name="Emailid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PoeId" type="xs:int" />
      <xs:element minOccurs="0" name="SubId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssignPoe" nillable="true" type="AssignPoe" />
</xs:schema>