WebSite/bExcellent.mvc/Service References/CommonWCF/Common14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bExcellent.Service.BusinessLogic.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.BusinessLogic.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgetAxis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getAxis" nillable="true" type="tns:getAxis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgetAxis" nillable="true" type="tns:ArrayOfgetAxis" />
  <xs:complexType name="getAxis">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualPerformance" type="xs:double" />
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnswerValue" type="xs:int" />
      <xs:element minOccurs="0" name="Focus" type="xs:double" />
      <xs:element minOccurs="0" name="FullQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" type="xs:double" />
      <xs:element minOccurs="0" name="IndustryF1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndustryF2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marketting" type="xs:double" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Momentum" type="xs:double" />
      <xs:element minOccurs="0" name="PartnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerformanceGap" type="xs:double" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportId" type="xs:int" />
      <xs:element minOccurs="0" name="Sales" type="xs:double" />
      <xs:element minOccurs="0" name="Services" type="xs:double" />
      <xs:element minOccurs="0" name="SolutionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XAxis" type="xs:double" />
      <xs:element minOccurs="0" name="YAxis" type="xs:double" />
      <xs:element minOccurs="0" name="axis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fbId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getAxis" nillable="true" type="tns:getAxis" />
</xs:schema>