WebSite/bExcellent.mvc/Service References/FeedbackService/Feedback4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bExcellent.Service.Util.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:109/Feedback.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="NewFeedbackRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FeedbackFor" type="xs:int" />
      <xs:element minOccurs="0" name="FeedbackRole" type="xs:int" />
      <xs:element minOccurs="0" name="FeedbackType" type="xs:int" />
      <xs:element minOccurs="0" name="IsGiveRequest" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Members" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="PoeId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewFeedbackRequest" nillable="true" type="tns:NewFeedbackRequest" />
</xs:schema>