WebSite/bExcellent.mvc/Service References/FeedbackService/Feedback.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSavePOEResultRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SavePOEResultRequest" nillable="true" type="SavePOEResultRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSavePOEResultRequest" nillable="true" type="ArrayOfSavePOEResultRequest" />
  <xs:complexType name="SavePOEResultRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" type="xs:int" />
      <xs:element minOccurs="0" name="AnswerType" type="xs:int" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeedbackId" type="xs:int" />
      <xs:element minOccurs="0" name="FeedbackStatus" type="xs:int" />
      <xs:element minOccurs="0" name="ModuleNumber" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SavePOEResultRequest" nillable="true" type="SavePOEResultRequest" />
</xs:schema>